.randomPlanet {
  display: flex;
  padding: 1rem;
  height: calc(150px + 2rem);
}

.imageWrapper {
  width: 150px;
  height: 150px;
  margin-right: 1rem;
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-right: 1rem;
}

.group {
  margin: 0;
}

.item {
  padding: .25rem;
}

.term {
  margin-right: .5rem;
}
